<p>Hi <%= @admin.first_name %>,</p>

<p><%= @current_team_manager.first_name %> <%= @current_team_manager.last_name %> created an account on Swiss Hockey Tool for: </p>

<p class="aligncenter"><strong><%= @user.first_name %> <%= @user.last_name %></strong></p>

<p>He's Team Manager for:</p>

<p class="aligncenter"><strong><%= Club.find(@user.club_id).name %></strong></p>
