<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 mx-auto">
      <div class="form-login">
        <h1><%= t 'editATournament' %></h2>
        <%= simple_form_for @event,
          wrapper: :horizontal_form,
          wrapper_mappings: {
            boolean:       :horizontal_boolean,
            check_boxes:   :horizontal_collection,
            date:          :horizontal_multi_select,
            datetime:      :horizontal_multi_select,
            file:          :horizontal_file,
            radio_buttons: :horizontal_collection,
            range:         :horizontal_range,
            time:          :horizontal_multi_select
          } do |f| %>

          <%= f.error_notification %>

          <%= f.input :date %>

          <%= f.input :is_tournament_open, as: :radio_buttons, collection: [[true, @open], [false, @close]], label_method: :second, value_method: :first, wrapper: :horizontal_collection_inline %>

          <%= f.input :period, as: :radio_buttons, collection: [["morning", @morning], ["afternoon", @afternoon], ["full-day", @fullDay]], label_method: :second, value_method: :first, wrapper: :horizontal_collection_inline %>

          <%= f.input :start_time, as: :time, wrapper: :horizontal_multi_select %>

          <%= f.input :club_id, collection: [[@event.club_id, Club.find(@event.club_id).name]], label_method: :second, value_method: :first, disabled: true %>

          <%= f.input :is_outdoor, as: :radio_buttons, collection: [[true, @outdoor], [false, @indoor]], label_method: :second, value_method: :first, wrapper: :horizontal_collection_inline %>

          <%= f.input :location %>

          <%= f.input :contact %>

          <!-- Categories available for the tournament and set maximal places for each category-->
          <div class="form-row">
            <div class="form-group col-sm-4">
              <%= t "category" %> :
              <br>(<%= t "maxNumberOfTeams" %>)
            </div>
            <div class="form-group col-sm-4">
              <% Category.all.each_with_index do |categorie, i| %>
                <% if @event.categories[categorie.id.to_s]["total_places"].to_i > 0 %>
                <%= "<div class='checkbox'><label><input type='checkbox' name='category-#{categorie.id}' value='true' checked>&nbsp;#{@categories[i]}</label></div>".html_safe %>
                <% else %>
                <%= "<div class='checkbox'><label><input type='checkbox' name='category-#{categorie.id}' value='true'>&nbsp;#{@categories[i]}</label></div>".html_safe %>
                <% end %>
              <% end %>
            </div>
            <div class="form-group col-sm-4">
              <% Category.all.each do |categorie| %>
                <%= "<input type='number' class='form-control form-control-sm mr-1' name='total_places-#{categorie.id}' min='0' max='20' value='#{@event.categories[categorie.id.to_s]["total_places"].to_i}'></textarea>".html_safe %>
              <% end %>
            </div>
          </div>

          <%= f.input :other_informations %>

          <div class="form-group row mb-0">
            <div class="col-sm-9 offset-sm-3">
              <%= f.button :submit, class: "btn-primary" %>
              <%= link_to root_path, class: "btn btn-outline-secondary" do %>
                <%= t 'cancel' %>
              <% end %>
            </div>
            <div class="col-sm-9 offset-sm-3 my-3">
              <%= link_to event_path(@event.id), method: :delete, class: "btn btn-danger" do %>
                <% t 'deleteTournament' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>