<!-- Modal for new user -->
<div id="addNewUser" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <%= render "registrations/form_new_user" %>
  </div>
</div>

<!-- Modal to add a new tournament -->
<div id="addnewtournament" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t 'addNewTournament' %></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= "<form action='/events' method='post'>".html_safe %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <!-- Date of the tournament -->
        <div class="form-row">
          <div class="form-group col-sm-4">
            <%= t "tournamentDate" %> :
          </div>
          <div class="form-group col-sm-4">
            <label class="sr-only" for="date"><%= t "date" %></label>
            <input type="date" class="form-control form-control-sm mr-1" id="date" name="date" required>
          </div>
        </div>
        <!-- Period of the tournament -->
        <div class="form-row">
          <div class="form-group col-sm-4">
            <%= t "period" %> :
          </div>
          <div class="form-group col-sm-4">
            <div class="radio"><label><input type="radio" name="period" value="morning" required>
                <%= t "morning" %></label></div>
            <div class="radio"><label><input type="radio" name="period" value="afternoon"> <%= t "afternoon" %></label>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <div class="radio"><label><input type="radio" name="period" value="full-day"> <%= t "fullDay" %></label>
            </div>
          </div>
        </div>
        <!-- Starting time of the tournament -->
        <div class="form-row">
          <div class="form-group col-sm-4">
            <%= t "startTime" %> :
          </div>
          <div class="form-group col-sm-4">
            <label class="sr-only" for="start-time"><%= t "startTime" %></label>
            <input type="time" class="form-control form-control-sm mr-1" id="start-time" name="start_time" required>
          </div>
        </div>
        <!-- Who's the organizer of the tournament based on the today (october 2018) updated list http://www.swisshockey.org -->
        <div class="form-row">
          <div class="form-group col-sm-4">
            <%= t "organizer" %> :
          </div>
          <div class="form-group col-sm-8">
            <label class="sr-only" for="organizer"><%= t "organizer" %></label>
            <select class="selectpicker form-control form-control-sm mr-1" id="organizer" name="club_id" required
              data-style="btn-default">
              <% Club.all.each do |club| %>
              <%= "<option value='#{club.id}'>#{club.name}</option>".html_safe %>
              <% end %>
            </select>
          </div>
        </div>
        <!-- Outdoor or indoor tournament -->
        <div class="form-row">
          <div class="form-group col-sm-4">
            <%= t "field" %> :
          </div>
          <div class="form-group col-sm-4">
            <div class="radio"><label><input type="radio" name="is_outdoor" value="true" required>
                <%= t "outdoor" %></label></div>
          </div>
          <div class="form-group col-sm-4">
            <div class="radio"><label><input type="radio" name="is_outdoor" value="false"> <%= t "indoor" %></label>
            </div>
          </div>
        </div>
        <!-- Location of the tournament -->
        <div class="form-row">
          <div class="form-group col-sm-4">
            <%= t "location" %> :
          </div>
          <div class="form-group col-sm-8">
            <label class="sr-only" for="location"><%= t "location" %>Location</span></label>
            <textarea rows="2" class="form-control form-control-sm mr-1" id="location" name="location"
              required><%= @location %></textarea>
          </div>
        </div>
        <!-- Who's the person responsible of the tournament -->
        <div class="form-row">
          <div class="form-group col-sm-4">
            <%= t "contact" %> :
          </div>
          <div class="form-group col-sm-8">
            <label class="sr-only" for="contact"><%= t "contact" %></label>
            <textarea rows="2" class="form-control form-control-sm mr-1" id="contact" name="contact"
              required><%= @contact %></textarea>
          </div>
        </div>
        <!-- Categories available for the tournament and set maximal places for each category-->
        <div class="form-row">
          <div class="form-group col-sm-4">
            <%= t "category" %> :
            <br>(<%= t "maxNumberOfTeams" %>)
          </div>
          <div class="form-group col-sm-4">
            <% Category.all.each_with_index do |categorie, i| %>
              <%= "<div class='checkbox'><label><input type='checkbox' name='category-#{categorie.id}' value='true'>&nbsp;#{@categories[i]}</label></div>".html_safe %>
            <% end %>
          </div>
          <div class="form-group col-sm-4">
            <% Category.all.each do |categorie| %>
              <%= "<input type='number' class='form-control form-control-sm mr-1' name='total_places-#{categorie.id}' min='0' max='20' value='0'></textarea>".html_safe %>
            <% end %>
          </div>
        </div>
        <!-- Others infos -->
        <div class="form-row">
          <div class="form-group col-sm-4">
            <%= t "otherInfos" %> :
          </div>
          <div class="form-group col-sm-8">
            <label class="sr-only" for="other-infos"><%= t "otherInfos" %></label>
            <textarea rows="4" class="form-control form-control-sm mr-1" id="other-infos"
              name="other_informations"></textarea>
          </div>
        </div>
        <!-- Submit and cancel buttons -->
        <div class="form-row">
          <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal"><%= t 'cancel' %></button>
          <button type="submit" class="btn btn-primary btn-sm ml-1"><%= t "add" %></button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<header class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4">
        <a
          href="#"><%= image_tag asset_path('logoSwissHockey.png'), class: "img-responsive", alt: "Swiss Hockey Logo" %></a>
      </div>
      <div class="col-12 col-sm-4">
        <h1>Swiss Hockey Tool</h1>
        <p><%= t 'tournamentManager' %></p><br>
      </div>
      <div class="col-12 col-lg-4">
        <div class="col-5 ml-auto flags">

          <!-- Language switch "buttons"-->
          <%= link_to root_path(locale: :en) do %>
          <%= image_tag asset_path("flag-usa.png"), class: "img-reponsive img-flag", alt: "English laguage flag" %>
          <% end %>
          <%= link_to root_path(locale: :fr) do %>
          <%= image_tag asset_path("flag-france.png"), class: "img-reponsive img-flag", alt: "French laguage flag" %>
          <% end %>
          <%= link_to root_path(locale: :de) do %>
          <%= image_tag asset_path("flag-germany.png"), class: "img-reponsive img-flag", alt: "German laguage flag" %>
          <% end %>
          <br><br>
        </div>
        <div class="col-12 col-sm-6 ml-auto">
          <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-warning btn-lg btn-block login-btn" do %>
          <span><%= t 'logout' %></span>
          <% end %>
          <% else %>
          <%= link_to new_user_session_path, class: "btn btn-warning btn-lg btn-block login-btn" do %>
          <span><%= t 'login' %></span>
          <% end %>
          <% end %>
          <br><br><br>
        </div>

        <% if user_signed_in? %>
        <div class="col-12 ml-auto">
          <% if current_user.role == "admin" %>
          <a class="btn btn-warning btn-lg btn-block action-btn" role="button" data-toggle="modal"
            data-target="#addNewUser"><span class="fa fa-plus"></span>
            <%= t 'addNewUser' %></a>
          <% end %>

          <a class="btn btn-warning btn-lg btn-block action-btn" role="button" data-toggle="modal"
            data-target="#addnewtournament"><span class="fa fa-plus"></span>
            <%= t 'addNewTournament' %></a>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</header>

<!-- All the filters' section -->
<div class="container">
  <div class="row align-items-baseline">
    <div class="col-4 col-md-2">
      <%= t 'daterange' %> :
    </div>
    <div class="col-8 col-sm-6">
      <div class="form-group">
        <div class="input-group date" id="datetimepicker" data-target-input="nearest">
          <input type="text" id="datefield" class="form-control datetimepicker-input" name="daterange" data-target="#datetimepicker" />
          <div class="input-group-append" data-target="#datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <!-- <div class="align-items-center material-switch pull-right">
        <input type="checkbox" id="isTournamentOpen" value="false"/>
        <label for="isTournamentOpen" class="label-primary"></label>
        &nbsp; <%= t 'showOpenTournamentsOnly' %>
      </div> -->
    </div>
  </div>
  <div class="row row-filter align-items-center">
    <div class="col-5 col-md-2">
      <%= t "organizer" %> :
    </div>
    <div class="col-7 col-md-3">

      <div class="dropdown">
          <select class="selectpicker form-control form-control-sm mr-1" id="teams" name="club_id" required
              data-style="btn-default">
              <option value='0'><%= t "allOrganizer" %></option>
              <% Club.all.each do |club| %>
              <%= "<option value='#{club.id}'>#{club.name}</option>".html_safe %>
              <% end %>
          </select>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="container">

  <!-- Header of the subsequent entries below -->

  <div class="row row-cards row-cards-top">
    <div class="col-12 col-md-1">

    </div>
    <div class="col-6 col-md-2">
      <div class="grid-border">
        <%= t 'dateAndTime' %>
      </div>
    </div>

    <% unless user_signed_in? %>
      <div class="col-6 col-md-2">
    <% else %>
      <div class="col-6 col-md-1">
    <% end %>
      <div class="grid-border">
        <%= t "field" %>
      </div>
    </div>

    <% unless user_signed_in? %>
      <div class="col-12 col-md-3">
    <% else %>
      <div class="col-12 col-md-2">
    <% end %>
      <div class="grid-border">
        <%= t "organizer" %>
      </div>
    </div>

      <div class="col-12 col-md-3">
        <div class="grid-border">
          <%= t "location" %>
        </div>
      </div>

      <% if user_signed_in? %>
      <div class="col-12 col-md-2">
        <div class="grid-border">
          <%= t "contact" %>
        </div>
      </div>
      <% end %>
      
        <div class="col-6 col-md-1">
          <div class="grid-border">
            <%= t "teams" %>
          </div>
        </div>
      </div>

      <!-- Start of first entry -->

      <!-- Events tables for showing the result -->
    <% @events.each_with_index do |event, index| %>
      <%= "<div id='events'>".html_safe %>
      <div class="row row-cards">
        <div class="col-12 col-md-1">
          <% if user_signed_in? && current_user.club_id == event["club_id"] || user_signed_in? && current_user.role == "admin" %>
          <%= link_to edit_event_path(event["id"]) do %>
          <i class='fas fa-pen editor-selector'></i>
          <% end %>
          <% end %>
          <%= "<a href='#collapse#{event["id"]}' data-toggle='collapse' class='fa fa-plus plus-selector'></a>".html_safe %>
        </div>
        <div class="col-6 col-md-2">
          <div class="grid-border">
            <span><%= "#{event["date"].split("-")[2]}/#{event["date"].split("-")[1]}/#{event["date"].split("-")[0]}" %>
              <%= "#{event["start_time"].split(":")[0]}:#{event["start_time"].split(":")[1]}" %></span>
          </div>
        </div>

        <% unless user_signed_in? %>
          <div class="col-6 col-md-2">
        <% else %>
          <div class="col-6 col-md-1 smaller">
        <% end %>
          <div class="grid-border">
            <% if event["is_outdoor"] %>
              <%= t "outdoor" %>
            <% else %>
              <%= t 'indoor' %>
            <% end %> 
          </div>
        </div>
            
        <% unless user_signed_in? %>
          <div class="col-12 col-md-3 organizer">
        <% else %>
          <div class="col-12 col-md-2 organizer smaller">
        <% end %>
          <%= "<div class='grid-border' id='team-#{event['club_id']}'>".html_safe %>
            <%= Club.find(event["club_id"]).name %>
          </div>
        </div>

        <% unless user_signed_in? %>
          <div class="col-12 col-md-3">
        <% else %>
          <div class="col-12 col-md-3 smaller">
        <% end %>
            <div class="grid-border">
              <%= event["location"] %>
            </div>
        </div>

          <% if user_signed_in? %>
          <div class="col-12 col-md-2 smaller">
            <div class="grid-border">
              <%= event["contact"] %>
            </div>
          </div>
          <% end %>
          
            <div class="col-6 col-md-1">
              <div class="grid-border text-center">
                <%= "<button type='button' class='btn btn-sm btn-primary' data-toggle='modal' data-target='#teamsPresent#{event["id"]}'><i
                    class='fa fa-users fa-1x'></i></button>".html_safe %>
                <% (JSON.parse event["categories"]).keys.each do |categorie| %>
                <% if (JSON.parse event["categories"])[categorie]["total_places"].to_i > 0 %> 
                <% if (JSON.parse event["categories"])[categorie]["places_left"].to_i > 0 %>
                  <%= "<div class='btn btn-sq-xs btn-success sqPlaces' data-toggle='popover' title='#{t 'availabilityOfPlaces'}'
                  data-content='#{@categories[categorie.to_i - 1]}: #{t 'placesLeft'}#{(JSON.parse event["categories"])[categorie]["places_left"].to_i}/#{(JSON.parse event["categories"])[categorie]["total_places"]}' data-trigger='hover' data-placement='right'></div>".html_safe %>
                <% else %>
                  <%= "<div class='btn btn-sq-xs btn-danger sqPlaces' data-toggle='popover' title='#{t 'availabilityOfPlaces'}'
                  data-content='#{@categories[categorie.to_i - 1]}: #{t 'full'} #{(JSON.parse event["categories"])[categorie]["total_places"]}/#{(JSON.parse event["categories"])[categorie]["total_places"]}' data-trigger='hover' data-placement='right'></div>".html_safe %>
                <% end %>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <%= "<div class='col collapse text-center' id='collapse#{event["id"]}'>".html_safe %>
            <div class="card card-body">
              <%= event["other_informations"] %>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal teams -->
      <%= "<div id='teamsPresent#{event["id"]}' class='modal fade' role='dialog'>".html_safe %>
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><%= t "teamsPresent" %></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <% (JSON.parse event["categories"]).keys.each do |categorie| %>
              <% if (JSON.parse event["categories"])[categorie]["total_places"].to_i > 0 %>             
              <h5><%= @categories[categorie.to_i - 1] %></h5>
              <span><%= t 'placesLeft' %> <%= "#{(JSON.parse event["categories"])[categorie]["places_left"].to_i} / #{(JSON.parse event["categories"])[categorie]["total_places"]}" %></span>
              <% if user_signed_in? && policy(Inscription).create? && (JSON.parse event["categories"])[categorie]["places_left"].to_i > 0 %>
                  <%= "<a data-toggle='modal' data-target='#teamsInscription#{event["id"]}-#{categorie}'>".html_safe %>
                    <%= image_tag asset_path('blue_checkin.png'), class: "img-responsive checkin-btn", alt: "Checkin button" %>
                  </a>
                <% end %>
              <ul>
              <% if Inscription.where(["event_id = :eventId AND category_id = :category_id", { eventId: event["id"], category_id: categorie.to_i }]).length == 0 %>
                  <li><%= t 'noTeamRegistredForNow' %></li>
                <% else %>
                <% Inscription.where(["event_id = :eventId AND category_id = :category_id", { eventId: event["id"], category_id: categorie.to_i }]).each do |inscription| %>
                    <li>
                      <% if user_signed_in? && policy(inscription).destroy? %>
                        <%= link_to inscription_path(inscription.id), method: :delete, data: { confirm: @confirmRemoveTeam } do %>
                          <i class='fas fa-trash-alt'></i>
                        <% end %>
                      <% end %>
                      <%= "#{@clubs_id_name.values_at(inscription.club_id)[0]} #{inscription.team_name}" %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
              <hr>
              <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </div>

      <!-- Modal inscriptions -->
      <% if user_signed_in? %>
        <% (JSON.parse event["categories"]).keys.each do |categorie| %>
        <%= "<div id='teamsInscription#{event["id"]}-#{categorie}' class='modal fade' role='dialog'>".html_safe %>
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"><%= t "teamsInscription" %></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                <%= "<form action='/inscriptions' method='post'>".html_safe %>
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <div class="form-row">
                    <div class="form-group col-sm-4">
                      <%= t "optionalTeamName" %> :
                    </div>
                    <div class="form-group col-sm-4">
                      <input type="text" class="form-control form-control-sm mr-1" id="optional-team-name" name="team_name">
                      <small class="form-text text-muted"><%= t 'exempliGratiaForMultipleTeams'%> RWW1, RWW2, etc.</small>
                    </div>
                  </div>

                  <%= "<input type='hidden' name='event_id' value='#{event['id']}'>".html_safe %>
                  <% if current_user.role == "admin" %>
                    <div class="form-row">
                    <div class="form-group col-sm-4">
                      <%= t "adminRegistrationForTeams" %> :
                    </div>
                    <div class="form-group col-sm-8">
                      <select class="selectpicker form-control form-control-sm mr-1" id="organizer" name="club_id" required
                        data-style="btn-default">
                        <% Club.all.each do |club| %>
                        <%= "<option value='#{club.id}'>#{club.name}</option>".html_safe %>
                        <% end %>
                      </select>
                      <small class="form-text text-muted"><%= t 'asAdminYouCanRegisterTeamsForClubs'%></small>
                    </div>
                  </div>
                  <% else %>
                  <%= "<input type='hidden' name='club_id' value='#{current_user.club_id}'>".html_safe %>
                  <% end %>
                  <%= "<input type='hidden' name='category_id' value='#{categorie.to_i}'>".html_safe %>

                  <!-- Submit and cancel buttons -->
                  <div class="form-row">
                    <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal"><%= t 'cancel' %></button>
                    <button type="submit" class="btn btn-primary btn-sm ml-1"><%= t 'checkIn' %></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
    <% end %>
    <!-- End of entry -->


  <footer>
    <div class="container">
      <hr>
      © 2019 Designed and powered by At3flo
    </div>
  </footer>