<!-- Modal for login -->
<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span data-i18n="trans-login">Login</span></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="/" method="post">
          <div class="form-row">
            <div class="form-group col-sm-4">
              <span data-i18n="trans-username">Username</span> :
            </div>
            <div class="form-group col-sm-4">
              <label class="sr-only" for="username"><span data-i18n="trans-username">Username</span></label>
              <input type="text" class="form-control form-control-sm mr-1" id="username" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-4">
              <span data-i18n="trans-password">Password</span> :
            </div>
            <div class="form-group col-sm-4">
              <label class="sr-only" for="password"><span data-i18n="trans-password">Password</span></label>
              <input type="password" class="form-control form-control-sm mr-1" id="password" required
                autocomplete="off">
            </div>
          </div>
          <!-- Submit and cancel buttons -->
          <div class="form-row">
            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-sm ml-1"><span
                data-i18n="trans-login">Login</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal to add a new tournament -->
<div id="addnewtournament" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span data-i18n="trans-addNewTournament">Add a new tournament</span></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <!-- Date of the tournament -->
          <div class="form-row">
            <div class="form-group col-sm-4">
              <span data-i18n="trans-date">Date</span> :
            </div>
            <div class="form-group col-sm-4">
              <label class="sr-only" for="date"><span data-i18n="trans-date">Date</span></label>
              <input type="date" class="form-control form-control-sm mr-1" id="date" required>
            </div>
          </div>
          <!-- Starting time of the tournament -->
          <div class="form-row">
            <div class="form-group col-sm-4">
              <span data-i18n="trans-hour">Time</span> :
            </div>
            <div class="form-group col-sm-4">
              <label class="sr-only" for="hour"><span data-i18n="trans-hour">Hour</span></label>
              <input type="time" class="form-control form-control-sm mr-1" id="hour">
            </div>
          </div>
          <!-- Location of the tournament -->
          <div class="form-row">
            <div class="form-group col-sm-4">
              <span data-i18n="trans-location">Location</span> :
            </div>
            <div class="form-group col-sm-8">
              <label class="sr-only" for="location"><span data-i18n="trans-location">Location</span></label>
              <textarea rows="3" class="form-control form-control-sm mr-1" id="location" required></textarea>
            </div>
          </div>
          <!-- Who's the organizer of the tournament based on the today (october 2018) updated list http://www.swisshockey.org -->
          <div class="form-row">
            <div class="form-group col-sm-4">
              <span data-i18n="trans-organizer">Organizer</span> :
            </div>
            <div class="form-group col-sm-8">
              <label class="sr-only" for="organizer"><span data-i18n="trans-organizer">Organizer</span></label>
              <select class="selectpicker form-control form-control-sm mr-1" id="organizer" required
                data-style="btn-default">
                <option>Basler Hockey Club 1911</option>
                <option>Berner Hockey-Club</option>
                <option>Black Boys Hockey Club Genève</option>
                <option>Grasshopper Club Zürich</option>
                <option>HC La Côte</option>
                <option>HC Olten</option>
                <option>HC Rotweiss Wettingen</option>
                <option>HC Steffisburg</option>
                <option>HC Wettingen</option>
                <option>Hockey Athletic Club Lugano</option>
                <option>Luzerner SC</option>
                <option>Neuchâtel Hockey Club</option>
                <option>Red Sox Hockey Club Zürich</option>
                <option>Servette HC</option>
                <option>Stade Lausanne Hockey sur Gazon</option>
                <option>USTS Field Hockey</option>
                <option>Urania Genève Sports</option>
                <option>Zürichsee Hockey Team</option>
                <option>HC Konstanz</option>
                <option>Grizzlies St. Gallen</option>
                <option>Spielgemeinschaft Zürich U15 Girls</option>
                <option>AGHGA Filles U15</option>
                <option>Spielgemeinschaft BeHC/HCSt</option>
                <option>Hockey Club Lahr</option>
              </select>
            </div>
          </div>
          <!-- Who's the person responsible of the tournament -->
          <div class="form-row">
            <div class="form-group col-sm-4">
              <span data-i18n="trans-contact">Contact</span> :
            </div>
            <div class="form-group col-sm-8">
              <label class="sr-only" for="contact"><span data-i18n="trans-contact">Contact</span></label>
              <textarea rows="1" class="form-control form-control-sm mr-1" id="contact" required></textarea>
            </div>
          </div>
          <!-- Categories available for the tournament -->
          <div class="form-row">
            <div class="form-group col-sm-4">
              <span data-i18n="trans-categories">Categories</span> :
            </div>
            <div class="form-group col-sm-4">
              <div class="checkbox"><label><input type="checkbox" value=""> <span data-i18n="trans-U8">U8</span></label>
              </div>
              <div class="checkbox"><label><input type="checkbox" value=""> <span data-i18n="trans-U10Challenge">U10
                    Challenge</span></label></div>
              <div class="checkbox"><label><input type="checkbox" value=""> <span data-i18n="trans-U12Challenge">U12
                    Challenge</span></label></div>
              <div class="checkbox"><label><input type="checkbox" value=""> <span data-i18n="trans-U15Challenge">U15
                    Challenge</span></label></div>
            </div>
            <div class="form-group col-sm-4">
              <div class="checkbox"><label><input type="checkbox" value=""> <span data-i18n="trans-U10Elite">U10
                    Elite</span></label></div>
              <div class="checkbox"><label><input type="checkbox" value=""> <span data-i18n="trans-U12Elite">U12
                    Elite</span></label></div>
              <div class="checkbox"><label><input type="checkbox" value=""> <span data-i18n="trans-U12Girls">U12
                    Girls</span></label></div>
              <div class="checkbox"><label><input type="checkbox" value=""> <span data-i18n="trans-U15Girls">U15
                    Girls</span></label></div>
            </div>
          </div>
          <!-- Others infos -->
          <div class="form-row">
            <div class="form-group col-sm-4">
              <span data-i18n="trans-otherInfos">Other informations</span> :
            </div>
            <div class="form-group col-sm-8">
              <label class="sr-only" for="otherInfos"><span data-i18n="trans-otherInfos">Other
                  informations</span></label>
              <textarea rows="4" class="form-control form-control-sm mr-1" id="otherInfos"></textarea>
            </div>
          </div>
          <!-- Submit and cancel buttons -->
          <div class="form-row">
            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-sm ml-1"><span data-i18n="trans-add">Add</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<header class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4">
        <a href="#"><%= image_tag asset_path('logoSwissHockey.png'), class: "img-responsive", alt: "Swiss Hockey Logo" %></a>
      </div>
      <div class="col-12 col-sm-4">
        <h1>Swiss Hockey Tool</h1>
        <p data-i18n="trans-tournamentManager">Tournament manager</p><br>
      </div>
      <div class="col-12 col-lg-4">
        <div class="col-5 ml-auto">

          <!-- Language switch "buttons"-->
          <a href="#" data-locale="en" class="lang-switch"><%= image_tag ("/assets/flag-usa.png"), class: "img-reponsive img-flag", alt: "English laguage flag" %></a>
          <a href="#" data-locale="fr" class="lang-switch"><%= image_tag ("/assets/flag-france.png"), class: "img-reponsive img-flag", alt: "French laguage flag" %></a> 
          <a href="#" data-locale="de" class="lang-switch"><%= image_tag ("/assets/flag-germany.png"), class: "img-reponsive img-flag", alt: "German laguage flag" %></a><br><br>
        </div>
        <div class="col-12 col-sm-6 ml-auto">
          <%= link_to "Login", new_user_session_path, class: "btn btn-warning btn-lg btn-block" %><br><br><br>
        </div>

        <div class="bottom-align-text col-12 ml-auto">
          <a class="btn btn-warning btn-lg btn-block" role="button" data-toggle="modal"
            data-target="#addnewtournament"><span class="fa fa-plus"></span>
            <span data-i18n="trans-addNewTournament">Add a new tournament</span></a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- All the filters' section -->
<div class="container">
  <div class="row align-items-center">
    <div class="col-4 col-md-2">
      <span data-i18n="trans-daterange">Date range</span> :
    </div>
    <div class="col-8 col-sm-6">
      <div class="form-group">

        <!-- Calendar with date range -->
        <div class="form-group">
          <div class="input-group date" id="datetimepicker" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" name="daterange"
              data-target="#datetimepicker" />
            <div class="input-group-append" data-target="#datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="material-switch pull-right">

        <input id="hideUnscheduledEvents" name="hideUnscheduledEvents" type="checkbox" />
        <label for="hideUnscheduledEvents" class="label-primary"></label>
        &nbsp; <span data-i18n="trans-hideUnscheduledEvents">Hide unscheduled events</span>
      </div>
    </div>
  </div>
  <div class="row row-filter align-items-center">
    <div class="col-5 col-md-2">
      <span data-i18n="trans-categories">Categories</span> :
    </div>
    <div class="col-7 col-md-2">

      <!-- Simple dropdown selector -->
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span
            data-i18n="trans-allcategories">All</span>
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><span data-i18n="trans-allcategories">All</span></li>
          <li class="dropdown-header"><span data-i18n="trans-challenge">Challenge</span></li>
          <li class="dropdown-item"><span data-i18n="trans-U8">U8</span></li>
          <li class="dropdown-item"><span data-i18n="trans-U10">U10</span></li>
          <li class="dropdown-item"><span data-i18n="trans-U12">U12</span></li>
          <li class="dropdown-item"><span data-i18n="trans-U15">U15</span></li>
          <li class="divider"></li>
          <li class="dropdown-header"><span data-i18n="trans-elite">Elite</span></li>
          <li class="dropdown-item"><span data-i18n="trans-U12">U12</span></li>
        </ul>
      </div>
    </div>
    <div class="col-5 col-md-2">
      <span data-i18n="trans-teams">Teams</span> :
    </div>
    <div class="col-7 col-md-4">

      <!-- Simple dropdown selector -->
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span
            data-i18n="trans-allcategories">All</span>
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><span data-i18n="trans-allcategories">All</span></li>
          <li class="dropdown-item"><span data-i18n="trans-team0">Team0</span></li>
        </ul>
      </div>
    </div>
    <div class="col text-right">
      <button type="submit" class="btn btn-warning"><span data-i18n="trans-filter">Filter</span></button>
    </div>
  </div>
  <hr>
</div>

<div class="container">

  <!-- Header of the subsequent entries below -->

  <div class="row row-cards row-cards-top">
    <div class="col-1">

    </div>
    <div class="col-12 col-md-2">
      <div class="grid-border">
        <span data-i18n="trans-dateAndTime">Date and time</span>
      </div>
    </div>
    <div class="col-12 col-md-1">
      <div class="grid-border">
        <span data-i18n="trans-status">Status</span>
      </div>
    </div>
    <div class="col-12 col-md-2">
      <div class="grid-border">
        <span data-i18n="trans-location">Location</span>
      </div>
    </div>
    <div class="col-12 col-md-2">
      <div class="grid-border">
        <span data-i18n="trans-organizer">Organizer</span>
      </div>
    </div>
    <div class="col-12 col-md-2">
      <div class="grid-border">
        <span data-i18n="trans-contact">Contact</span>
      </div>
    </div>
    <div class="col-6 col-md-1">
      <div class="grid-border">
        <span data-i18n="trans-categories-shortened">Cat.</span>
      </div>
    </div>
    <div class="col-6 col-md-1">
      <div class="grid-border">
        <span data-i18n="trans-teams">Teams</span>
      </div>
    </div>
  </div>

  <!-- Start of first entry -->

  <!-- Fake values for showing the result -->
  <div class="row row-cards">
    <div class="col-1">
      <a href="#collapseOne" class="fa fa-plus plusSelector"></a>
    </div>
    <div class="col-12 col-md-2">
      <div class="grid-border">
        <span>24/10/2018 09:00</span>
      </div>
    </div>
    <div class="col-12 col-md-1">
      <div class="grid-border text-center">
        <div class="btn btn-sq-xs btn-success sqValidation" data-toggle="popover" title='Tournament statement'
          data-content='Confirmed' data-trigger="hover" data-placement="left"></div>
        <div class="btn btn-sq-xs btn-danger sqPlaces" data-toggle="popover" title='Availability of places'
          data-content='No more places' data-trigger="hover" data-placement="right"></div>
      </div>
    </div>
    <div class="col-12 col-md-2">
      <div class="grid-border">
        Centre Sportif des Rojalets, Chemin des Rojalets 1, 1296 Coppet
      </div>
    </div>
    <div class="col-12 col-md-2">
      <div class="grid-border">
        USTS Field Hockey
      </div>
    </div>
    <div class="col-12 col-md-2">
      <div class="grid-border">
        Peter Muster, 079/999/9999, info@test.com
      </div>
    </div>
    <div class="col-6 col-md-1">
      <div class="grid-border">
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#categoriesAvailable1"><i
            class="fas fa-users-cog fa-1x"></i></button>
      </div>
    </div>
    <div class="col-6 col-md-1">
      <div class="grid-border">
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#teamsPresent1"><i
            class="fa fa-users fa-1x"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="row collapse" id="collapseOne">
        <div class="col-11 ml-auto">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
          squid.
          3
          wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
          laborum
          eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
          nulla
          assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
          nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
          craft
          beer
          farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
          accusamus
          labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>

  <!-- Modal categories -->
  <div id="categoriesAvailable1" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><span data-i18n="trans-categoriesAvailable">Categories available</span></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <ul>
            <li><span data-i18n="trans-U12Girls">U10 Girls</span></li>
            <li><span data-i18n="trans-U10Challenge">U10 Challenge</span></li>
            <li><span data-i18n="trans-U12Challenge">U12 Challenge</span></li>
            <li><span data-i18n="trans-U15Challenge">U15 Challenge</span></li>
            <li><span data-i18n="trans-U12Elite">U12 Elite</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal teams -->
  <div id="teamsPresent1" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><span data-i18n="trans-teamsPresent">Teams present</span></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <ul>
            <li><span data-i18n="trans-team0">Team0</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- End of entry -->


  <!-- Start of second entry -->

  <!-- Fake values for showing the result -->

  <div class="row row-cards">
    <div class="col-1">
      <a href="#collapseTwo" class="fa fa-plus plusSelector"></a>
    </div>
    <div class="col-12 col-md-2">
      <div class="grid-border">
        <span>24/10/2018 09:00</span>
      </div>
    </div>
    <div class="col-12 col-md-1">
      <div class="grid-border text-center">
        <div class="btn btn-sq-xs btn-danger sqValidation" data-toggle="popover" title='Tournament statement'
          data-content='Cancelled' data-trigger="hover" data-placement="left"></div>
        <div class="btn btn-sq-xs btn-success sqPlaces" data-toggle="popover" title='Availability of places'
          data-content='Free places' data-trigger="hover" data-placement="right"></div>
      </div>
    </div>
    <div class="col-12 col-md-2">
      <div class="grid-border">
        Centre Sportif des Rojalets, Chemin des Rojalets 1, 1296 Coppet
      </div>
    </div>
    <div class="col-12 col-md-2">
      <div class="grid-border">
        USTS Field Hockey
      </div>
    </div>
    <div class="col-12 col-md-2">
      <div class="grid-border">
        Peter Muster, 079/999/9999, info@test.com
      </div>
    </div>
    <div class="col-6 col-md-1">
      <div class="grid-border">
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#categoriesAvailable2"><i
            class="fas fa-users-cog fa-1x"></i></button>
      </div>
    </div>
    <div class="col-6 col-md-1">
      <div class="grid-border">
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#teamsPresent2"><i
            class="fa fa-users fa-1x"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="row collapse" id="collapseTwo">
        <div class="col-11 ml-auto">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
          squid.
          3
          wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
          laborum
          eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
          nulla
          assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
          nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
          craft
          beer
          farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
          accusamus
          labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>

  <!-- Modal categories -->
  <div id="categoriesAvailable2" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><span data-i18n="trans-categoriesAvailable">Categories available</span></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <ul>
            <li><span data-i18n="trans-U12Girls">U10 Girls</span></li>
            <li><span data-i18n="trans-U10Challenge">U10 Challenge</span></li>
            <li><span data-i18n="trans-U12Challenge">U12 Challenge</span></li>
            <li><span data-i18n="trans-U15Challenge">U15 Challenge</span></li>
            <li><span data-i18n="trans-U12Elite">U12 Elite</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="teamsPresent2" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><span data-i18n="trans-teamsPresent">Teams present</span></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <ul>
            <li><span data-i18n="trans-team0">Team0</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- End of entry -->

</div>


<footer>
  <div class="container">
    <hr>
    © 2018 Dev. by Matthieu Borgognon
  </div>
</footer>